html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Ubuntu', sans-serif;
}
/* Utilitarias */
.container {
    width: 80%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
/* Header */
.bg-header {
    background-image: url('../assets/img/bg-header-min.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18.75em;
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.63);
    padding: 1.5em 0;
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
}
.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
    margin-bottom: 1em;
}
@media (min-width: 768px) {
    .navbar-brand {
        flex-direction: row;
        margin-bottom: 0em;
    }
}
.navbar-brand img {
    width: 2em;
}
.nav-link {
    text-decoration: whitesmoke;
    color: whitesmoke;
    display: inline-block;
    padding: 0.3em;
}

/* Cuando pasa el mouse por encima cambia el color del boton */
.nav-link:hover {
    background-color: aliceblue;
    color: black;
    border-radius: 0.3em;
}
.navbar-nav {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    padding: 1em;
}
.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 0.5em;
}

.btn-primary {
    color: white;
    background-color: #214037;
}

.btn-secondary {
    color: white;
    background-color: #77A699;
}

.btn-danger {
    color: white;
    background-color: #A6464E;
}

.btn-info {
    color: black;
    background-color: #E2F2C9;
}

.btn-dark {
    color: white;
    background-color: #2F2E2E;
}

/* MAIN */
.main {
    flex-direction: column;
    background-color: white;
    margin-top: -2rem;
    border-radius: 0.3em;
    padding: 0.3em;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .tienda {
        display: flex;
        gap: 1em;
    }
}

/* CARD */
.card {
    background-color: #46a68e;
    color: white;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.card-img {
    width: 100%;
}

.card-body {
    padding: 1em;
}

.card-body h5 {
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 500;
}

.card-body p {
    font-weight: 300;
    text-align: justify;
}
/* NOSOTROS */
.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: #2F2E2E;
    border-radius: 0.5em;
}

.nosotros-col-img {
    order: 2;
    background-image: url('../assets/img/nosotros-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 21.875em;
    width: 100%;
}
@media (min-width: 576px) {
    .nosotros-col-img{
        height: 31.25em;
    }
}

.nosotros-col-text {
    order: 1;
}
@media (min-width: 768px) {
    .nosotros{
        flex-direction: row;
    }
    .nosotros-col-img{
        order: 1;
        flex: 1 1 0;
    }
    .nosotros-col-text{
        order: 2;
        flex: 1 1 0;
    }
}

.nosotros-body {
    padding: 1em;
    text-align: center;
    color: white;
}

.nosotros-body h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.nosotros-body p {
    font-weight: 200;    
}
/* FOOTER */
.bg-footer {
    background-color: #214037;
    color: #E2F2C9;
}

.bg-footer p {
    padding: 1em;
    margin: 0;
    text-align: center;
}

